<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Scraper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Page Scraper</h1>
    <p>Click the button below to start scraping:</p>
    <button id="startScraping">Start Scraping</button>

    <div id="loading" style="display: none;">
        Loading...
    </div>

    <div id="results" style="display: none;">
        <h2>Results:</h2>
        <ul id="resultsList"></ul>
        <a id="downloadLink" href="#" style="display: none;">Download Excel</a>
    </div>

    <script>
        function checkStatus() {
            $.ajax({
                url: '/check_status',
                type: 'GET',
                success: function(response) {
                    if (response.status === 'done') {
                        $('#loading').hide();
                        $('#results').show();
                        $('#downloadLink').attr('href', response.download_link).show();
                        $.each(response.data, function(index, item) {
                            $('#resultsList').append('<li>' + item.title + ' - ' + item.price + '</li>');
                        });
                    } else {
                        setTimeout(checkStatus, 1000);
                    }
                }
            });
        }

        $(document).ready(function() {
            $('#startScraping').click(function() {
                $('#loading').show();
                $.ajax({
                    url: '/start_scrape',
                    type: 'GET',
                    success: function(response) {
                        checkStatus();
                    }
                });
            });
        });
    </script>
</body>
</html>
